* {
  box-sizing: border-box;
}

html,
body,
h1 {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  padding: 10px;
}

header #message {
  text-align: center;
}

main {
  height: 100%;
}

#style1 {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#style1 .style2 {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

#style1 .style2:last-child {
  margin-right: 0;
}

#style1 .style2 .style3 {
  height: 100px;
  width: 100px;
  border: 10px solid black;
  margin-bottom: 10px;
  padding: 5px;
}

#style1 .style2 .style3:last-child {
  margin-bottom: 0;
}

#style1 .style3 .style4 {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.style4.red {
  border: 5px solid darkred;
  background-color: red;
}

.style4.blue {
  border: 5px solid darkblue;
  background-color: blue;
}

#buttonContainer {
  text-align: center;
  margin: auto;
  width: 100%;
}
